.nav-list {
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;

  li {
    list-style-type: none;
  }
}

.link {
  text-decoration: none;
  color: black;

  &:hover {
    border-bottom: 1px dashed black;
  }
}

textarea {
  width: 180px;
  height: 100px;
  resize: none;
}