.customArrow {
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid #ddd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.customArrow svg {
  width: 36px;
  height: 36px;
  fill: #007bff;
  transition: fill 0.3s;
}

.customArrow:hover {
  background-color: #007bff;
  border-color: #0056b3;
  transform: scale(1.1);
}

.customArrow:hover svg {
  fill: #fff !important;
}

.prevArrow {
  left: -30px;
}

.nextArrow {
  right: -30px;
}
