.header {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-center-column {
  @extend .flex-center;
  flex-direction: column;
}

.search-container {
  position: relative;
  display: inline-block;
  margin-left: 20px;

  .tooltip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    bottom: auto;
    left: 100%;
    top: 50%;
    margin-left: 10px;
    transform: translateY(-50%);
    width: 200px;
    white-space: normal;
    word-wrap: break-word;
  }

  &:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
}

.filter-select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;

  &:focus {
    border-color: #007bff;
    outline: none;
  }
}

.pagination-toggle-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.protocols-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.protocol-card {
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;

  &:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
  }

  p {
    font-size: 1.125rem;
    color: #555;
    margin-bottom: 10px;
  }

  .view-details-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      background-color: #0056b3;
      transform: scale(1.05);
    }
  }
}
