@use '../../common/styles/template';

.form-container {
  @extend %form-container;
}

.form-title {
  @extend %form-title;
}

.input {
  @extend %input;
}

.form-error {
  color: #ff4d4f;
  font-size: 0.875em;
  margin-top: 5px;
}

.button {
  @extend %button;
}
