.all-users {
  display: flex;
  padding-top: 30px;
}

.content {
  flex: 1;
  padding: 20px;
}

.filter-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  width: 250px;
  transition: border-color 0.3s;

  &:focus {
    border-color: #007bff;
    outline: none;
  }
}

.role-select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;

  &:focus {
    border-color: #007bff;
    outline: none;
  }
}

.user-table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 10px;
    border: 1px solid #ddd;
  }

  th {
    background-color: #f4f7f9;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #f1f1f1;
  }
}

.button-base {
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.ban-button {
  @extend .button-base;
  background-color: #dc3545;

  &:hover {
    background-color: #c82333;
  }
}

.view-button {
  @extend .button-base;
  background-color: #007bff;
}
